footer.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 100px;
  display: grid;
  padding: 1em 5em;
  grid-auto-flow: column;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  justify-content: center;
  align-items: center;
}
.footerCopyright {
  justify-content: center;
  text-align: center;
  padding: 1em;
  p {
    color: #ebebeb;
    margin: 0;
    line-height: 1.6;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #33cc99;
  }
}
