<footer class="footer">
  <div class="footerLogo">
    <img src="../../../assets/images/icon_sriTilak.png" alt="icon" />
  </div>
  <div class="footerCopyright">
    <p>
      परिकल्पना तथा परिवर्धन:<a
        href="https://rsi2940.github.io/"
        target="_blank"
        rel="noopener"
      >
        ऋषि खतिवडा</a
      >
    </p>
    <p>
      Design and Development:<a
        href="https://rsi2940.github.io/"
        target="_blank"
        rel="noopener"
      >
        Rishi Khatiwada</a
      >
    </p>
    <p>&copy;2018</p>
  </div>
  <div class="footerLeftover"></div>
</footer>
